
/****************************************************/
/*                                                 */
/*   Global CSS (_globals.css)                    */
/*                                               */
/************************************************/
/*

  - Styles global to the site.
  - Try to place as few things in here as possible,
    and use class selectors for the majority of your styling.

  *************
  * Contents: *
  *************

  # Everything
  # Body
  # Fonts
  # Links
  # Buttons

*/

/**************************************/
/*   # Everything                    */
/************************************/

* {
  /* "[border-box] tells the browser to account for any border and padding in the values
  you specify for an element's width and height." [developer.mozilla.org]
  (e.g. 100% width + 20px margin will not be larger than the parent.)*/
  box-sizing: border-box;

}

/**************************************/
/*   # Body                          */
/************************************/

html,body {
  /*spacing*/
  margin: 0;
  padding: 0;
  /*color*/
  color: $color_text_main;
}


/**************************************/
/*   # Fonts                         */
/************************************/


h1, h2 {
  font-family: $font_alegreya;
}

h3, h4, h5, h6 {
  font-family: $font_karla;
}

p, li {
  font-family: $font_karla;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: .1px;

}


/**************************************/
/*   # Links                         */
/************************************/

a {
  /*cursor*/
  cursor: pointer;
  /*typography*/
  font-family: $font_karla;
  text-decoration: none;
  font-weight: 700;
  /*colors*/
  color: $color_text_link;

  .has-no-touch &:hover {
    color: $color_text_link_hover;
  }
}

/**************************************/
/*   # Buttons                       */
/************************************/

button {
  /*cursor*/
  cursor: pointer;
  /*typography*/
  font-family: $font_karla;
  font-weight: 700;
}
