/****************************************************/
/*                                                 */
/*   CSS Variables (_variables.css)               */
/*                                               */
/************************************************/
/*

  - Contains the variables to be used by the css.
  - These variables are handled by the PostCSS plugin postcss-simple-vars (see ~/gulp/tasks/styles.task.js)

  *************
  * Contents: *
  *************

  # Screen Sizes
  # Site Margins
  # Colors
    > Color Definitions
    > Color Designations
    > Color Assignments

*/

/**************************************/
/*   # Screen Sizes                  */
/************************************/

$screen_tiny: 609px; /*Extra small devices (phones, 600px and down)*/
$screen_small: 610px; /*Small devices (portrait tablets and large phones, 600px and up)*/
$screen_medium: 730px; /*Medium devices (landscape tablets, 768px and up)*/
$screen_large: 992px; /*Large devices (laptops/desktops, 992px and up)*/
$screen_xl: 1200px; /* Extra large devices (large laptops and desktops, 1200px and up)*/

/*The following sizes (squished, crushed, pancake) are for intended for brower windows with small height.*/
/*SQUISHED*/
$screen_squished_height: 550px;
$screen_squished_width: $screen_small;
/*CRUSHED*/
$screen_crushed_height: 350px;
$screen_crushed_width: $screen_small;
/*PANCAKE*/
$screen_pancake_height: 225px;
$screen_pancake_width: $screen_small;


/**************************************/
/*   # Site Margins                  */
/************************************/

$site_margin_outer_sides: 2.5rem;
$site_margin_outer_sides_tiny: 1em;
$site_margin_body_sides: 5rem;
$site_margin_body_sides_tiny: 2em;

/**************************************/
/*   # Colors                        */
/************************************/

/*************************
*  > Color Definitions   *
*************************/

/*Grayscale*/
$color_white: 255, 255, 255;
$color_almostWhite: 207, 209, 210;
$color_black: 0, 0, 0;


/*BLUES*/
$color_darkerBlue: 51, 61, 81; /*nearly black*/
$color_darkBlue: 71, 81, 101;
$color_mediumBlue: 132, 170, 191;
$color_brightBlue: 11, 180, 227;
/* $color_lightBlue: 202, 220, 241; */
$color_lightBlue: 180, 220, 241;

/*YELLOWS*/
$color_darkYellow: 255, 212, 105;
$color_mediumYellow: 254, 226, 143;
$color_lightYellow: 255, 236, 189;

/**************************
*  > Color Designations   *
**************************/

$color_a: rgb($color_darkBlue);
$color_b: rgb($color_darkYellow);
$color_c: rgb($color_lightBlue);
$color_d: rgb($color_lightYellow);
$color_e: rgb($color_mediumYellow);

/*************************
*  > Color Assignments   *
*************************/

/*TEXT*/
$color_text_main: rgb($color_darkBlue);
$color_text_link: rgb($color_mediumBlue);
$color_text_link_hover: rgb($color_darkYellow);
$color_text_link_button: rgb($color_darkBlue);
