/****************************************************/
/*                                                 */
/*   CSS Variables (_variables.css)               */
/*                                               */
/************************************************/
/*

  - Contains the variables to be used by the css.
  - These variables are handled by the PostCSS plugin postcss-simple-vars (see ~/gulp/tasks/styles.task.js)

  *************
  * Contents: *
  *************

  # Screen Sizes
  # Site Margins

*/

/**************************************/
/*   # Screen Sizes                  */
/************************************/

$screen_tiny: 599px; /*Extra small devices (phones, 600px and down)*/
$screen_small: 600px; /*Small devices (portrait tablets and large phones, 600px and up)*/
$screen_medium: 768px; /*Medium devices (landscape tablets, 768px and up)*/
$screen_large: 992px; /*Large devices (laptops/desktops, 992px and up)*/
$screen_xl: 1200px; /* Extra large devices (large laptops and desktops, 1200px and up)*/

/*The following sizes (squished, crushed, pancake) are for intended for brower windows with small height.*/
/*SQUISHED*/
$screen_squished_height: 550px;
$screen_squished_width: $screen_small;
/*CRUSHED*/
$screen_crushed_height: 350px;
$screen_crushed_width: $screen_small;
/*PANCAKE*/
$screen_pancake_height: 225px;
$screen_pancake_width: $screen_small;


/**************************************/
/*   # Site Margins                  */
/************************************/

$site_margin_outer_sides: 5rem;
$site_margin_body_sides: 5rem;
