/****************************************************/
/*                                                 */
/*   CSS Variables (_variables.css)               */
/*                                               */
/************************************************/
/*

  - Contains the variables to be used by the css.
  - These variables are handled by the PostCSS plugin postcss-simple-vars (see ~/gulp/tasks/styles.task.js)

  *************
  * Contents: *
  *************

  # Screen Sizes
  # Site Margins
  # Colors
    > Color Definitions
    > Color Designations
    > Color Assignments

*/

/**************************************/
/*   # Screen Sizes                  */
/************************************/

$screen_tiny: 599px; /*Extra small devices (phones, 600px and down)*/
$screen_small: 600px; /*Small devices (portrait tablets and large phones, 600px and up)*/
$screen_medium: 768px; /*Medium devices (landscape tablets, 768px and up)*/
$screen_large: 992px; /*Large devices (laptops/desktops, 992px and up)*/
$screen_xl: 1200px; /* Extra large devices (large laptops and desktops, 1200px and up)*/

/*The following sizes (squished, crushed, pancake) are for intended for brower windows with small height.*/
/*SQUISHED*/
$screen_squished_height: 550px;
$screen_squished_width: $screen_small;
/*CRUSHED*/
$screen_crushed_height: 350px;
$screen_crushed_width: $screen_small;
/*PANCAKE*/
$screen_pancake_height: 225px;
$screen_pancake_width: $screen_small;


/**************************************/
/*   # Site Margins                  */
/************************************/

$site_margin_outer_sides: 5rem;
$site_margin_body_sides: 5rem;

/**************************************/
/*   # Colors                        */
/************************************/

/*************************
*  > Color Definitions   *
*************************/

/*Grayscale*/
$color_black: 0, 0, 0;
$color_white: 255, 255, 255;

/*BLUES*/
$color_darkBlue: 51, 61, 81;
/* $color_mediumBlue: ; */
$color_lightBlue: 202, 220, 241;

/*YELLOWS*/
$color_darkYellow: 255, 212, 105;
$color_mediumYellow: 254, 226, 143;
$color_lightYellow: 255, 236, 189;

/**************************
*  > Color Designations   *
**************************/

$color_a: $color_darkBlue;
$color_b: $color_darkYellow;
$color_c: $color_lightBlue;
$color_d: $color_lightYellow;
$color_e: $color_mediumYellow;


/*************************
*  > Color Assignments   *
*************************/

/*TEXT*/
$color_textHeaderMain: $color_darkBlue;
$color_textHeaderSec: $color_darkBlue;
$color_textHeaderTert: $color_darkBlue;
$color_textBody: $color_darkBlue;
