<!DOCTYPE html>

<!-- This file has been copies over from the Clean-Slate templates (bare version).
If this was done by mistake, check ~/.trashed for your original files.-->
<head lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>XXXXXX</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <!-- end favidon data -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>
  <h1>Hello.</h1>
  <!-- inject:js -->
  <!-- endinject -->
</body>
