
/****************************************************/
/*                                                 */
/*   Button CSS (_button.css)                     */
/*                                               */
/************************************************/
/*

  - Class for creating a button style (this can be used with a button or a tag)

  - A mulitple buttons can be grouped within the class button__group

  - Change the style of the button with available modifier classes.

  *************
  * Contents: *
  *************

  # Button Group
    > Children
  # Button
  # Popout Button
    > Hover

*/

/**************************************/
/*   # Button Group                  */
/************************************/

.button__group {

  position: relative;

  /*****************
  *   > Children   *
  *****************/

  .button, .button__wrapper {
    /*display*/
    display: inline-block;
  }

  /*Create a fixed gap BETWEEN the buttons (horizontal)*/
  &--fixed-space-1 {
    .button {
      margin-right: 1rem;
    }
    .button:last-child {
      margin-right: 0;
    }
  }
  &--fixed-space-2 {
    .button {
      margin-right: 2rem;
    }
    .button:last-child {
      margin-right: 0;
    }
  }

}


/**************************************/
/*   # Button                        */
/************************************/

.button {

    position: relative;
    white-space: nowrap;

  /**************************************/
  /*   # Popout Button                 */
  /************************************/

  &--popout {

    @mixin popout $color_d, 4px, 8px;

    /**************
    *   > Hover   *
    **************/

    .has-no-touch &:hover {
      /*colors*/
      color: rgb($color_mediumBlue);
      /*after*/
      &::after {
        background-color: $color_c;
      }

    }


  }
}
