
/****************************************************/
/*                                                 */
/*   Button CSS (_button.css)                     */
/*                                               */
/************************************************/
/*

  - Class for creating a button style (this can be used with a button or a tag)

  - A mulitple buttons can be grouped within the class button__group

  - Change the style of the button with available modifier classes.

  *************
  * Contents: *
  *************

  # Button Group
  # Button
  # Popout Button
    > Hover

*/

/**************************************/
/*   # Button Group                  */
/************************************/

.button__group {

  .button, .button__wrapper {
    /*display*/
    display: inline-block;
  }

}


/**************************************/
/*   # Button                        */
/************************************/

.button {

    position: relative;

  /**************************************/
  /*   # Popout Button                 */
  /************************************/

  &--popout {

    @mixin popout $color_d, 4px, 8px;

    /**************
    *   > Hover   *
    **************/

    &:hover {
      /*colors*/
      color: rgb($color_mediumBlue);
      /*after*/
      &::after {
        background-color: $color_c;
      }

    }


  }
}
