
/****************************************************/
/*                                                 */
/*   Column CSS (_column.css)                     */
/*                                               */
/************************************************/
/*

  - Group the 'column' (class) into within a 'column__group' (class).
  This file includes classes for customizing to appearance of these column
    (e.g. columns__pillar--no-side-margin).

  *************
  * Contents: *
  *************

  # Column Group
  # Column
  # For Tiny

*/

/**************************************/
/*   # Column Group                  */
/************************************/

.column__group {
  /*position*/
  position: relative;

  .column {
    display: inline-block;
    vertical-align: top;
  }
}

/**************************************/
/*   # Column                        */
/************************************/

.column {
  /* flex-grow: 1; */


  &--1-2 {
    width: calc(50% - 5px);
    margin-right: 5px;
  }

  &:last-child {
    margin-right: 0;
  }

}

/**************************************/
/*   # For Tiny                      */
/************************************/

.column__group {
  @mixin forTiny {

  &--not-for-tiny { /**/

      .column {
        width: 100%;
      }

    }
  }
}
