.headline {

  &--fixed-margin {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &--large {
    font-size: 5rem;
  }

  &--extra-large {
    font-size: 9rem;
  }

  &--scale-width--large {
    font-size: 12vw;
  }

}
