
/****************************************************/
/*                                                 */
/*   Headline CSS (_headline.css)                 */
/*                                               */
/************************************************/
/*

  Style for headlines/headers (e.g. h1, h2, ...)

  *************
  * Contents: *
  *************

  # Headline
  # Sizes
    > XL
    > Large
    > Medium
    > Small

*/

/**************************************/
/*   # Headline                      */
/************************************/

.headline {

  /**************************************/
  /*   # Sizes                         */
  /************************************/

  /**********
  *  > XL   *
  **********/

  &--xl {
    font-size: 3.9rem;
    font-weight: 300;
  }

  /*************
  *  > Large   *
  *************/

  &--large {
    font-size: 2.7rem;
    font-weight: 300;
  }

  /**************
  *  > Medium   *
  **************/

  &--medium {
    font-size: 1.4rem;
    font-weight: 300;
  }

  /*************
  *  > Small   *
  *************/

  &--small {
    font-size: 1.2rem;
    line-height: 1.6;
  }



}
