
/****************************************************/
/*                                                 */
/*   List CSS (_list.css)                         */
/*                                               */
/************************************************/
/*

  - Styles for lists.
  - These styles can be applied to tags like ul, ol, and dl.
  - Example of class use:
      <dl class="list list--definitions list--hang-right">...</dl>

  *************
  * Contents: *
  *************

  # List
  # Modifiers
  # Sub List

*/

/**************************************/
/*   # List                          */
/************************************/

.list {


  /**************************************/
  /*   # Modifiers                     */
  /************************************/

  &--no-start-padding {
    padding-inline-start: 0;
  }

  &--edge-bullets {
    @mixin edgeBullets;
  }

  &--no-bullets {
    list-style: none;
  }

  &--inline {
    li {
      display: inline-block;
      margin-left: 1rem;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  /**************************************/
  /*   # Sub List                      */
  /************************************/

  &__sub-list {  }


}
