
/****************************************************/
/*                                                 */
/*   List CSS (_list.css)                         */
/*                                               */
/************************************************/
/*

  - Styles for lists.
  - These styles can be applied to tags like ul, ol, and dl.
  - Example of class use:
      <dl class="list list--no-start-padding list--no-bullets">...</dl>

  *************
  * Contents: *
  *************

  # List
  # Spacing
  # Display
  # Bullets
  # Sub List

*/

/**************************************/
/*   # List                          */
/************************************/

.list {


  /**************************************/
  /*   # Spacing                       */
  /************************************/

  /*
  No Start Padding
  Remove the default (some browsers) start padding*/
  &--no-start-padding {
    padding-inline-start: 0;
  }

  /**************************************/
  /*   # Display                       */
  /************************************/

  /*
  Inline
  Display the list items inline with a slight margin BETWEEN the items.
  */
  &--inline {
    li {
      display: inline-block;
      margin-left: 1rem;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  /**************************************/
  /*   # Bullets                       */
  /************************************/

  /*
  No Bullets
  Remove the list style
  */
  &--no-bullets {
    list-style: none;
  }

  /*
  Edge Bullets
  Create slightly larger bullets that center over the edge of the wrapper.
  Requires the use of children li::before.
  See edgeBullets mixin for customizing options*/
  &--edge-bullets {
    @mixin edgeBullets;
  }

  /*
  Eye Bullets
  Stylize list with large eye-like circular bullets.
  Requires the use of children li::before and li::after.
  See eyeBullets mixin for customizing options
  */
  &--eye-bullets {
    @mixin eyeBullets;
  }




  /**************************************/
  /*   # Sub List                      */
  /************************************/

  &__sub-list {  }


}
