
/****************************************************/
/*                                                 */
/*   Section CSS (_section.css)                   */
/*                                               */
/************************************************/
/*

  - A section is considered an independent grouping of content.
  - The section class may be applied to a section tag,
    but it is not required.

  *************
  * Contents: *
  *************

  # Section
    > In Focus
    > At Small
  # Spacing

*/

/**************************************/
/*   # Section                       */
/************************************/

.section {
  /*position*/
  position: relative;
  /*structure*/
  min-height: 50vh;
  /*spacing*/
  padding-top: 2rem;
  padding-bottom: 2rem;

  /****************
  *  > In Focus   *
  ****************/

  &:focus { /*removes the outline from around the style section when scrolled to with navigation*/
    outline-style: none;
  }

  /****************
  *  > At Small   *
  ****************/

  @mixin atSmall {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  /**************************************/
  /*   # Spacing                       */
  /************************************/

  &--no-top-space {
    padding-top: 0;
    margin-top: 0;
  }

  &--no-top-padding {
    padding-top: 0;
  }

  &--no-bottom-padding {
    padding-bottom: 0;
  }

  /**************************************/
  /*   # Home - Section                */
  /************************************/

  #home &__content {
    @mixin atSmall {
      position: relative;
      top: 9rem;
    }
  }

}
