
/****************************************************/
/*                                                 */
/*   Section CSS (_main-nav.css)                  */
/*                                               */
/************************************************/
/*

  - A section is considered an independent grouping of content.
  - The section class may be applied to a section tag,
    but it is not required.

  *************
  * Contents: *
  *************

  # Section

*/

/**************************************/
/*   # Section                       */
/************************************/

.section {

  /*structure*/
  min-height: 50vh;
  /*spacing*/
  padding-top: 2rem;
  padding-bottom: 2rem;

  &:focus { /*removes the outline from around the style section when scrolled to with navigation*/
    outline-style: none;
  }

  @mixin atMedium {
    /*spacing*/
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

}
