/****************************************************/
/*                                                 */
/*   Site Body CSS (_site-body.css)               */
/*                                               */
/************************************************/
/*

  - The site body contains the main content of the site
  (this excludes the site header/navigation and footer content).
  - The site-body class may be applied to an article tag, but it is not required.

  *************
  * Contents: *
  *************

  # Site Body
    > Restrict Width
    > At Small
    > At Large
    > At Crushed

*/

/**************************************/
/*   # Site Body                     */
/************************************/

.site-body {
  /*position*/
  z-index: 0;
  position: relative;
  /*spacing*/
  padding-left: 10px;
  padding-right: 10px;

  /**********************
  *  > Restrict Width   *
  **********************/

  &--restrict-width {
    /*structure*/
    max-width: 750px;
  }

  /****************
  *  > At Small   *
  ****************/

  @mixin atSmall {
    /*spacing*/
    margin-top: 15px;
    margin-left: 150px;
  }

  /****************
  *  > At Large   *
  ****************/

  @mixin atLarge {
    &--center-at-large {
      /*spacing*/
      margin-left: auto;
      margin-right: auto;
    }
  }

  /******************
  *  > At Crushed   *
  ******************/

  @mixin atCrushed {
    &--left-space-at-crushed {
      /*structure*/
      width: auto;
      max-width: unset;
      /*spacing*/
      margin-left: 250px;
    }
  }

}
