
/****************************************************/
/*                                                 */
/*   Site Footer CSS (_site-footer.css)           */
/*                                               */
/************************************************/
/*

  - The site footer contains the footer information for the site.
  - This the site-footer class may be applied to a footer tag, but it is not required.

  *************
  * Contents: *
  *************

  # Site Footer
    > At Small
  # Fixed Footer

*/

/**************************************/
/*   # Site Footer                   */
/************************************/

.site-footer {
  /*display*/
  display: block;
  /*position*/
  position: relative;
  /*structure*/
  width: 100vw;
  height: 100px;
  /*spacing*/
  padding: 15px;
  /*colors*/
  background-color: rgb($color_accentSec);

  /****************
  *  > At Small   *
  ****************/

  @mixin atSmall {
    /*structure*/
    height: 100px;
  }

  /**************************************/
  /*   # Fixed Footer                   */
  /************************************/

  &--fixed {
    /*position*/
    z-index: 500;
    position: fixed;
    left: 0;
    bottom: 0;
  }

}
