
/****************************************************/
/*                                                 */
/*   Site Footer CSS (_site-footer.css)           */
/*                                               */
/************************************************/
/*

  - The site footer contains the footer information for the site.
  - This the site-footer class may be applied to a footer tag, but it is not required.

  *************
  * Contents: *
  *************

  # Site Footer

*/

/**************************************/
/*   # Site Footer                   */
/************************************/

.site-footer {

  /*colors*/
  background-color: $color_a;

}
