/****************************************************/
/*                                                 */
/*   Site Body CSS (_site-body.css)               */
/*                                               */
/************************************************/
/*

  - The site body contains the main content of the site
  (this excludes the site header/navigation and footer content).
  - The site-body class may be applied to an article tag, but it is not required.

  *************
  * Contents: *
  *************

  # Site Body

*/

/**************************************/
/*   # Site Body                     */
/************************************/

.site-body {
  /*position*/
  position: relative;
  /*overflow*/
  overflow: hidden;

  @mixin atSmall {
    /*structure*/
    max-width: 900px;
    /*spacing*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 5rem;
  }

}
