
/****************************************************/
/*                                                 */
/*   Site Header CSS (_site-header.css)           */
/*                                               */
/************************************************/
/*

  - Style for the site header and it's elements
  - Some elements within the header may be considered separate blocks
    and will have a separate css file (e.g. logo and main-nav).
  - The css is handled by PostCSS plugins (see ~/gulp/tasks/styles.task.js)
  - These styles account for screen size and JS availablity (has-no-js).

  *************
  * Contents: *
  *************

  # Site Header
  # Logo Wrapper
  # Logo Image
  # Logo Link
  # Menu Wrapper
      > At Small
      > Has No JS
  # Menu Toggle
      > At Small
      > Has No JS

*/

/**************************************/
/*   # Site Header                   */
/************************************/

.site-header {

  /*position*/
  position: fixed;
  z-index: 5000;
  /*structure*/
  width: 100%;
  max-width: 100vw;
  /*spacing*/
  padding: 0;
  margin: 0;
  /*border*/
  border-bottom-width: 2px;
  border-bottom-style: solid;
  /*colors*/
  background-color: $color_e;
  border-color: $color_a;

  @mixin clearFix;


  /**************************************/
  /*   # Logo Wrapper                  */
  /************************************/

  &__logo-wrapper {
    /*display*/
    display: inline-block;
    /*position*/
    position: relative;
    /*spacing*/
    padding-top: .7rem;

    @mixin atSmall {
      /*spacing*/
      padding-top: 1.3rem;
    }
  }

  /**************************************/
  /*   # Menu Wrapper                  */
  /************************************/

  &__menu-wrapper {

    /*display*/
    display: block;
    /*position*/
    z-index: 100;
    position: relative;
    /* float: right; */
    /*spacing*/
    margin-left: auto;
    margin-right: auto;


    .--menu-visible & {

    }


    /****************
    *  > For Tiny   *
    ****************/

    @mixin forTiny {
      /*oveflow*/
      overflow: hidden;
      /*structure*/
      height: auto;
      max-height: 0;
      width: 100%;
      /*transition*/
      transition-property: max-height;
      transition-duration: 1000ms;

      .--menu-visible & {
        /* left: 0; */
        max-height: 100vh;
      }
    }


    /*****************
    *  > Has No JS   *
    *****************/

    .has-no-js & {

      display: none;
    }


  }

  /**************************************/
  /*   # Menu Toggle                   */
  /************************************/

  &__menu-toggle {
    /*display*/
    display: inline-block;
    /*position*/
    position: relative;
    float: right;
    right: -1rem;
    /*spacing*/
    padding-top: 20px;
    padding-bottom: 15px;
    /*borders*/
    border-style: none; /*override default button style*/
    /*colors*/
    background-color: transparent;  /*override default button style*/


    .--menu-visible & {}

    /****************
    *  > At Small   *
    ****************/

    /*Hide for screens larger than tiny
    (menu will be displayed without need for a toggle at that point)*/
    @mixin atSmall {
      /*display*/
      display: none;
    }

    /*****************
    *  > Has No JS   *
    *****************/

    /*If there is no JS, then don't display the menu toggle--since it won't work anyway*/
    .has-no-js & {
      /*display*/
      display: none;
    }

  }

}
