
/****************************************************/
/*                                                 */
/*   Site Header CSS (_site-header.css)           */
/*                                               */
/************************************************/
/*

  - Style for the site header and it's elements
  - Some elements within the header may be considered separate blocks
    and will have a separate css file (e.g. logo and main-nav).
  - The css is handled by PostCSS plugins (see ~/gulp/tasks/styles.task.js)
  - These styles account for screen size and JS availablity (has-no-js).

  *************
  * Contents: *
  *************

  # Site Header
  # Logo Wrapper
  # Logo Image
  # Logo Link
  # Menu Wrapper
      > At Small
      > Has No JS
  # Menu Toggle
      > At Small
      > Has No JS

*/

/**************************************/
/*   # Site Header                   */
/************************************/

.site-header {

  /*position*/
  position: fixed;
  z-index: 5000;
  /*structure*/
  width: 100%;
  /*spacing*/
  padding: 0;
  margin: 0;
  /*border*/
  border-bottom-width: 2px;
  border-bottom-style: solid;
  /*colors*/
  background-color: $color_e;
  border-color: $color_a;

  @mixin clearFix;


  /**************************************/
  /*   # Logo Wrapper                  */
  /************************************/

  &__logo-wrapper {
    /*display*/
    display: inline-block;
    /*position*/
    position: relative;
  }

  /**************************************/
  /*   # Logo Image                    */
  /************************************/

  &__logo-image {}

  /**************************************/
  /*   # Logo Link                     */
  /************************************/

  &__logo-link {}


  /**************************************/
  /*   # Menu Wrapper                  */
  /************************************/

  &__menu-wrapper {

    /*display*/
    display: inline-block;
    position: relative;
    float: right;


    .--menu-visible &{}


    /****************
    *  > At Small   *
    ****************/

    @mixin atSmall {}


    /*****************
    *  > Has No JS   *
    *****************/

    .has-no-js & {}


  }

  /**************************************/
  /*   # Menu Toggle                   */
  /************************************/

  &__menu-toggle {

    .--menu-visible & {}

    /****************
    *  > At Small   *
    ****************/

    @mixin atSmall {}

    /*****************
    *  > Has No JS   *
    *****************/

    .has-no-js & {}

  }

}
