
/****************************************************/
/*                                                 */
/*   Wrapper CSS (_wrapper.css)                   */
/*                                               */
/************************************************/
/*

  Content wrappers with various styles.
  Wrappers are intended to group elements and help to define the margin/spacing around them.

  *************
  * Contents: *
  *************

  # Wrapper
  # Outer
  # Body
  # Other

*/

/**************************************/
/*   # Wrapper                       */
/************************************/

.wrapper {

  background-color: lightgrey;

  /**************************************/
  /*   # Outer                         */
  /************************************/

  &--outer {
    margin-left: $site_margin_outer_sides;
    margin-right: $site_margin_outer_sides;
    margin-top: 0;
    margin-bottom: 0;
  }

  /**************************************/
  /*   # Body                          */
  /************************************/

  &--body {
    margin-left: $site_margin_body_sides;
    margin-right: $site_margin_body_sides;
  }

  /**************************************/
  /*   # Other                         */
  /************************************/


}
