
/****************************************************/
/*                                                 */
/*   Wrapper CSS (_wrapper.css)                   */
/*                                               */
/************************************************/
/*

  Content wrappers with various styles.
  Wrappers are intended to group elements and help to define the margin/spacing around them.

  *************
  * Contents: *
  *************

  # Wrapper
  # Types
    > Outer
    > Body
  # Display
    > Flex
  # Sizing
  # Alignment
  # Spacing

*/

/**************************************/
/*   # Wrapper                       */
/************************************/

.wrapper {

  /**************************************/
  /*   # Types                         */
  /************************************/

  /**************
  *   > Outer   *
  **************/

  &--outer {
    margin-left: $site_margin_outer_sides;
    margin-right: $site_margin_outer_sides;
    margin-top: 0;
    margin-bottom: 0;
  }

  /*************
  *   > Body   *
  *************/

  &--body {

    margin-left: $site_margin_body_sides_tiny;
    margin-right: $site_margin_body_sides_tiny;

    @mixin atSmall {
      margin-left: $site_margin_body_sides;
      margin-right: $site_margin_body_sides;
    }
  }

  /**************************************/
  /*   # Display                       */
  /************************************/

  &--child-inline {
    &>* {
      display: inline-block;
    }
  }

  /*************
  *   > Flex   *
  *************/

  &--flex {
    display: flex;
  }

  &--space-even {
    display: flex;
    justify-content: space-evenly;
  }

  &--f-align-center { /*requires flex class/property*/
    align-items: center;
  }

  &--f-baseline { /*requires flex class/property*/
    align-items: baseline;
  }

  /**************************************/
  /*   # Sizing                        */
  /************************************/

  &--max-30 {
    max-width: 30rem;
  }

  /**************************************/
  /*   # Alignment                     */
  /************************************/

  &--center {
    margin-left: auto;
    margin-right: auto;
  }

  /**************************************/
  /*   # Spacing                       */
  /************************************/

  &--margin-bottom-slight {
    margin-bottom: .5rem;
  }


}
