
/****************************************************/
/*                                                 */
/*   Wrapper CSS (_wrapper.css)                   */
/*                                               */
/************************************************/
/*

  Content wrappers with various styles.
  Wrappers are intended to group elements and help to define the margin/spacing around them.

  *************
  * Contents: *
  *************

  # Wrapper
  # Types
    > Outer
    > Body
    > Decor
  # Display
    > Flex
  # Sizing
  # Alignment
  # Spacing

*/

/**************************************/
/*   # Wrapper                       */
/************************************/

.wrapper {

  /**************************************/
  /*   # Types                         */
  /************************************/

  /**************
  *   > Outer   *
  **************/

  &--outer {
    margin-left: $site_margin_outer_sides_tiny;
    margin-right: $site_margin_outer_sides_tiny;
    margin-top: 0;
    margin-bottom: 0;

    @mixin atSmall{
      margin-left: $site_margin_outer_sides;
      margin-right: $site_margin_outer_sides;
    }
  }

  /*************
  *   > Body   *
  *************/

  &--body {

    margin-left: $site_margin_body_sides_tiny;
    margin-right: $site_margin_body_sides_tiny;

    @mixin atSmall {
      margin-left: $site_margin_body_sides;
      margin-right: $site_margin_body_sides;
    }
  }


  /**************
  *   > Decor   *
  **************/
  /*Wrapper for decorative items*/

  &--decor {
    /*variables*/
    $wrapper_artMargin: 2.5rem;
    $wrapper_artMargin_narrow: 10rem;

    /*position*/
    position: absolute;
    left: 0;
    top: 0;
    /*structure*/
    width: 100%;
    height: 100%;

    @mixin atSmall {
      width: calc(100% - $wrapper_artMargin * 2.5);
      /*spacing*/
      margin-left: $wrapper_artMargin;
    }

    @mixin atMedium {
      width: calc(100% - $wrapper_artMargin * 4);
      /*spacing*/
      margin-left: $wrapper_artMargin;
    }

    &--narrow {
      /*structure*/
      width: calc(100% - $wrapper_artMargin_narrow * 2);
      /*spacing*/
      margin-left: $wrapper_artMargin_narrow;
    }
  }

  /**************************************/
  /*   # Display                       */
  /************************************/

  &--child-inline {
    &>* {
      display: inline-block;
    }
  }

  /*************
  *   > Flex   *
  *************/

  &--flex {
    display: flex;
    flex-wrap: wrap;
  }

  &--space-even {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &--f-align-center { /*requires flex class/property*/
    align-items: center;
  }

  &--f-baseline { /*requires flex class/property*/
    align-items: baseline;
  }

  /**************************************/
  /*   # Sizing                        */
  /************************************/

  &--max-30 {
    max-width: 30rem;
  }

  /**************************************/
  /*   # Alignment                     */
  /************************************/

  &--center {
    margin-left: auto;
    margin-right: auto;
  }

  &--center-vert {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &--center-text-for-tiny {
    @mixin forTiny {
      text-align: center;
    }
  }

  /**************************************/
  /*   # Spacing                       */
  /************************************/

  &--margin-bottom-slight {
    margin-bottom: .5rem;
  }

  &--padding-right-at-small {
    @mixin atSmall {
      padding-right: 5rem;
    }
  }

}
